{% extends "layout.html" %}
{% block title %}Your notes{% endblock %}
{% block content %}
{% if usernotes != [] %}
<a href="/new">Create new</a> - <a href="/">Return</a>
{% for note in usernotes %}
<hr>
<p>{{note[0]}}</p>
{% for tag in tags[note[1]]%}
<a href="tag/{{tag[0]}}">{{tag[0]}}</a>,   
{% endfor %}
<div style="display: flex;">
<form action="/dele" method="post">
    <input type="hidden" value={{note[1]}} name ="id">
    <input type="hidden" value={{session.user_id}} name ="user">
    <input type="submit" value="Delete">
</form>
&nbsp &nbsp
<form action="/edit" method="post">
    <input type="hidden" value={{note[1]}} name ="id">
    <input type="hidden" value="e" name ="status">
    <input type="submit" value="Edit">
</form>
</div>
{% endfor %}
{% else %}
<p>You have no notes</p>
<hr>
{% if session.user_id %}
<a href="/new">Create new</a> - <a href="/">Return</a>
{% else %}
<p>You are not logged in</p>
{% endif %}
{% endif %}
{% endblock %}